<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdni.iconscout.com/illustration/premium/thumb/mother-daughter-and-son-enjoying-film-at-movie-theatre-4393230-3696990.png);">
  <div class="container">
    <h1>Sweet, sweet lists</h1>
  </div>
</div>

<div class="container">
  <p>Get your lists here...</p>
  <div class="cards">
    <% @lists.each do |list| %>
      <%# <% list_image = list.photo.attached? ? list_image = cl_image_path(list.photo.key) : '"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6dg1jZFBIysVcaGP9S9XxtubGiVuPS5XQ3g&usqp=CAU"' %>
      <div class="card-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6dg1jZFBIysVcaGP9S9XxtubGiVuPS5XQ3g&usqp=CAU" %> )" >
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
  <%= link_to "Add new list", new_list_path %>
</div>
