<h1>Sweet, sweet lists</h1>

<p>Get your lists here...</p>
<ul>
  <% @lists.each do |list| %>
   <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to "Add new list", new_list_path %>
