<div class="container">
  <div class="form-review">
    <h4>Add a review...</h4>
    <%= simple_form_for [@list, @review] do |f| %>
      <%= f.input :rating %>
      <%= f.input :content %>
      <%= f.button :submit, 'Submit', class: 'btn btn-warning'  %>
    <% end %>
  </div>
</div>
